version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - ./postgres/init:/docker-entrypoint-initdb.d
      - pgdata:/var/lib/postgresql/data

  neo4j:
    image: neo4j:5
    container_name: neo4j_db
    restart: always
    environment:
      NEO4J_AUTH: neo4j/test
    ports:
      - "7474:7474"   # Neo4j browser
      - "7687:7687"   # Bolt protocol
    volumes:
      - ./neo4j/data:/data
      - ./neo4j/import:/import

  app:
    build: ./app
    container_name: fastapi_app
    depends_on:
      - postgres
      - neo4j
    volumes:
      - ./app:/app
    working_dir: /app
    command: [ "bash", "start.sh" ]
    ports:
      - "8000:8000"

volumes:
  pgdata:
